[user]
  name = Roman Kuznetsov
  email = roku@lix.one

[core]
  editor = vim
  autocrlf = input

[push]
  default = simple

[pull]
  rebase = false

[alias]
  st = status
  ci = commit
  co = checkout
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --branches
  br = branch
  d = diff --word-diff=color
  dt = difftool
  dtp = difftool
  m = merge
  mt = mergetool
  cl = clean -x -d -f --exclude output/ --dry-run
  cls = clean -x -d -f --exclude output/
  pl = pull --all --prune
  ps = push

[color]
  ui = true

[diff]
  tool = bc
  colorMoved = default

[merge]
  tool = bc
  conflictstyle = diff3

[mergetool "bc"]
  trustExitCode = true

[includeIf "gitdir:/Users/"]
  path = ~/.gitconfig-macos

[includeIf "gitdir:/home/"]
  path = ~/.gitconfig-linux
