.md-typeset ol li, .md-typeset ul li {
  margin-bottom: 0;
}

.md-typeset {
  line-height: 1.4;
}

.md-typeset h1 {
  margin: 0 0 .64em;
}

.md-typeset h2 {
  margin: 0 0 .64em;
}

.md-typeset h3 {
  margin: 0 0 .64em;
}

.md-typeset .admonition, .md-typeset details {
  font-size: .8rem;
}

p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}
